html, body, #root {
	height: 100%;
}

body {
	background: #FFF;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: center;
  margin: 0px auto;
  max-width: 960px;
}

.app__header {
  color: #222;
  margin-bottom: 3em;
  text-align: center;
  width: 100%;
}

.app__header h1 {
  margin: 0px auto;
}
