.notifications__container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  width: 100%;
}

.notifications {
  background: #222;
  color: #FFF;
  padding: 0.5em;
  transform: translate(0px, 0px);
  transition: transform 0.25s ease-out;
}

.notifications--hidden {
  transform: translate(0px, 100%);
  transition: transform 0.25s ease-in;
}
